* {
    box-sizing: border-box;
    font-size: 100%;
}

html, body{
    background-color: rgb(240, 240, 240);
    position: relative;
    height: 100%;
}

.wrap-navbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-nav .hat .hat{
    display: block !important;
}
.navbar-nav .shirt .shirt{
    display: block !important;
}
.navbar-nav .pants .pants{
    display: block !important;
}
.navbar-nav .shoes .shoes{
    display: block !important;
}
.navbar-nav .accessories .accessories{
    display: block !important;
}

.navbar-nav .dropdowns-info .wrap-info{
    display: none;
    position: fixed;
    top: 1vh;
    left: 1.5%;
    width: 97%;
    height: 98vh;
    z-index: -1;
    animation: showInfo 1.5s forwards;
}

.colorNavbar{
    color: #585858 !important;
}

.navbar-nav .dropdowns-info .wrap-info .layout-info{
    width: 100%;
    height: 100%;
    padding-top: 68px;
    background-color: #ffffff;
}

.navbar-nav .dropdowns-info .wrap-info .layout-info .content-info{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.uniderLine::after{
    display: table;
    content: " ";
    width: 0;
    height: 1px;
    background-color: #585858;
}

.wrap-info .layout-info .content-info .item{
    width: 22%;
    height: 100%;
    margin-top: 1rem;
    color: #585858;
}

.wrap-info .layout-info .content-info .item .img{
    width: 100%;
    height: 50%;
    margin-bottom: 1.5rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.wrap-info .layout-info .content-info .item h4{
    display: inline-block;
    width: auto;
    line-height: 1.9rem;
    font-size: 1.25rem;
}

.wrap-info .layout-info .content-info .item p{
    font-size: 0.9rem;
}

.wrap-info .layout-info .content-info .showWeb{
    position: absolute;
    bottom: 2rem;
    color: #585858;
    text-decoration: none;  
}

.wrap-info .layout-info .content-info .item:hover .uniderLine::after{
    animation: moveUnderline 0.5s forwards;
}

.wrap-info .layout-info .content-info .uniderLine:hover::after{
    animation: moveUnderline 0.5s forwards;
}

.shopping-cart{
    display: inline-block;
    margin: 0 1rem;
    border-radius: 100%;
    background-color: #ffffff;

}
.shopping-cart .count {
    display: block;
    padding: 0 0.5rem;
    font-size: 1rem;
}

.bgWhite{
    background-color: #ffffff;
}

.dsBlock{
    display: block;
}

.dsHidden{
    display: none;
}

.icon-search{
    background-image: url("../img/magnifier.png");
    background-repeat: no-repeat;
    background-position: 0.7rem center;
    padding-left: 2.4rem;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(207, 207, 207);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.swiper-slide .content-slide{
    max-width: 50%;
    margin-bottom: -20vh;
    color: #ffffff;
    cursor: pointer;
}

.swiper-slide-active .content-slide p {
    position: relative;
    opacity: 0;
    animation: moveUp 1.5s forwards 0.5s;
}
.swiper-slide-active .content-slide h2 {
    position: relative;
    opacity: 0;
    animation: moveUp 1.5s forwards 1.25s;
}

@keyframes moveUp {
    from {
        opacity: 0;
        bottom: -20vh;
    }
    to {
        opacity: 1;
        bottom: 0vh;
    }
}

@keyframes moveUnderline{
    from{
        opacity: 0;
        width: 0;
    }
    to {
        opacity: 1;
        width: 100%;
    }
}

@keyframes showInfo{
    from{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
