body{
    background-color: #ffffff !important;
}

body .wrap-navbar{
    position: relative;
}

.layout{
    padding-top: 2rem;
    max-width: 1250px;
    margin: auto;
}

.myAccount h3{
    font-size: 1.3rem !important;      
    margin-bottom: 2rem;
}

.myAccount a{
    display: inline-block;
    text-decoration: none;
    color: #363636;
}

.uniderLine:hover::after{
    animation: moveUnderline 0.5s forwards;
}

.typeSubmit{
    flex-wrap: nowrap;
    justify-content: space-between;
}

.formCreate > h3{
    font-size: 1.3rem !important;      
    margin-left: 1.6rem;
    margin-bottom: 2rem;
}

.formCreate input{
    padding: 0.7rem !important;
}

.formCreate .form-group {
    margin-bottom: 1.7rem;
    padding-left: 2rem;
    position: relative;
}

.formCreate .checkGerder .form-check{
    margin-top: 0.5rem;
    margin-right: 2rem;
    position: relative;
}

.form-check input[type = radio], .form-check input[type = checkbox]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    z-index: 1;
}

.form-check .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: #eee;
    border-radius: 50%;
    margin-top:  -0.5rem;
    border: 1px solid #313131;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-check input:checked ~ .checkmark:after {
    display: block;
    animation: checkmark 0.5s forwards;
}

/* Style the indicator (dot/circle) */
.form-check .checkmark:after {
 	top: 50%;
 	left: 50%;
 	border-radius: 50%;
 	background: #363636;
}

.formCreate .form-group .warning span {
    position: absolute;
    bottom: 0;
    left: 2rem;
    animation: warning 0.5s forwards;
    background-color: #262626;
    color: #ffffff;
    padding: 0.25rem;
    font-size: 0.75rem;
}

.layout .line{
    width: 100%;
    height: 2px;
    padding-left: 2rem;
    margin-bottom: 1.7rem;
}

.layout .line div{
    width: 100%;
    height: 100%;
    background-color: #9b9b9b;
}

.typeSubmit button{ 
    background-color: #131313 !important;     
    border-radius: 3px;      
    padding: 0 2.1rem;
}

.typeSubmit .form-group .checkmark{
    border-radius: 0;
}
.typeSubmit .form-group .checkmark::after{
    border-radius: 0;
}

.ckeckLogin .checkmark{
    border-radius: 0 !important;
}
.ckeckLogin .checkmark::after{
    border-radius: 0 !important;
}

@keyframes warning {
    from{
        bottom: 0;
        opacity: 0;
    }
    to{
        opacity: 1;
        bottom: -1.6rem;
    }
}

@keyframes checkmark{
    from{
        width: 0.02rem;
        height: 0.02rem;
        margin-top: -0.01rem;
        margin-left: -0.01rem;
    }
    to{
        margin-top: -0.5rem;
        margin-left: -0.5rem;
        width: 1rem;
        height: 1rem;
    }
}