<!DOCTYPE html>
<html lang="en" ng-app="listProduct">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="./css/listProduct.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/home-page.css">

    <link rel="shortcut icon" href="">

    <script src="./lib/angular.min.js"></script>
    <script src="./lib/angular-router.min.js"></script>
    <script src="./lib/angular-cookies.min.js"></script>

    <script src="./lib/angular-sanitize.min.js"></script>
    <script src="./lib/angular-animate.min.js"></script>

    <script src="./lib/lodash.js"></script>

</head>

<body>
    <navbar navbar="navbar = 'blackColor'"></navbar>
    <div ng-controller="controllerListProduct as vm" ng-click="handleException()">
        <div class="content">
            <!-- items being paged -->
            <div class="header">
                <div class="description">
                    <span>Men</span>
                    <br> A thoughtful range of ETQ silhouettes for men. Premium quality products that last, with aesthetics that
                    match the quality
                </div>
                <div class="filter">
                    <button ng-click="openFilterFrom()">Filter
                        <span>&#8690;</span>
                    </button>
                    <div ng-class="filterFrom" class="filterFromHidden">
                        <div class="layout">
                            <div class="button">
                                <button ng-click="closeFilterFrom()">&#8689;</button>
                            </div>
                            <div class="color">
                                <h3>colour</h3>
                                <span ng-repeat="color in vm.colour" ng-class="color" ng-mouseover="chooseColor(color)" ng-mouseleave="notChooseColor()"></span>
                            </div>
                            <div class="size">
                                <h3>size</h3>
                                <span ng-repeat="size in vm.sizes">{{size}}</span>
                            </div>
                            <div class="style">
                                <h3>style</h3>
                                <span ng-repeat="style in vm.styles">{{style}}</span>
                            </div>
                            <div class="texture">
                                <h3>texture</h3>
                                <span ng-repeat="texture in vm.textures">{{texture}}</span>
                            </div>
                            <div class="textColor">
                                <div ng-repeat="color in vm.colour" ng-class="choosedColor">
                                    <span ng-class="color">{{color}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-product">
                <div class="item" ng-repeat="product in vm.products">
                    <a class="layout" ng-click="addItemToCart(product)">
                        <img class="first" style="background-image: url('./img/nav-content-info/Etq-Amsterdam-Fitpic-Low-3-Ash-1-1-750x0-c-default.jpg')"
                        />
                        <img class="second" style="background-image: url('./img/desktop-2500x0-c-default.jpg')" />
                        <div class="shortInfo">
                            <h3>{{product.name}}</h3>
                            <p>{{product.price | currency}}</p>
                        </div>
                        <p class="infoSize">
                            {{product.imageUrl}}
                        </p>
                    </a>
                </div>
            </div>

            <!-- pager -->
            <div class="wrap-pagination">
                <ul ng-if="vm.pager.pages.length" class="pagination">
                    <li ng-class="{disabled:vm.pager.currentPage === 1}" class="button uniderLine">
                        <a ng-click="vm.setPage(1)">&#x2770;</a>
                    </li>
                    <li ng-class="{disabled:vm.pager.currentPage === 1}" class="button uniderLine">
                        <a ng-click="vm.setPage(vm.pager.currentPage - 1)">&#x276C;</a>
                    </li>
                    <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}" class="uniderLine">
                        <a ng-click="vm.setPage(page)">{{page}}</a>
                    </li>
                    <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}" class="button uniderLine">
                        <a ng-click="vm.setPage(vm.pager.currentPage + 1)">&#x276D;</a>
                    </li>
                    <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}" class="button uniderLine">
                        <a ng-click="vm.setPage(vm.pager.totalPages)">&#x2771;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="./js/listProduct.js"></script>
    <script src="./component/navbar/navbar.module.js"></script>
    <script src="./component/navbar/navbar.component.js"></script>
</body>

</html>